.card{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
}

.formulario{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.ingreso{
}

.ingreso > .col{
    margin-bottom: 2px;
}

input{
    margin-bottom: 5px;
}

.facturacion{
    text-align: center;
}

.datos{
    text-align: center;
    margin-bottom: 25px;
}


